 /* $dpurp: #3a0ca3;
 $lpurp: #7209B7;
 $lblue: #4361ee;
 $dblue: #111A6f;
 $lorange: #ffc01c;
 $orange: #ff9105;
 $pgrey: #3c3c3c;

 $awhite: #fafafa;
 $bwhite: #f5f5f5;
$cwhite: #ececec; */
html, body, #root {
  width: 100%;
}
#root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c3c3c;
    margin: 0px;
    padding: 0px;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    text-align: center;
    
}
.container {
  width: 100%;
}
h1 {
  font-size: 1.5rem;
  text-wrap: wrap;
  margin: 10px;
}
.hero {
  display: flex;
  width: 100%;
  margin: 20px auto;
}
.hero p{
  margin: 10px;
  display: flex;
  
}

.leftSide {
  max-width: 50%;
  margin: auto auto;
  
  
}
.rightSide{
  max-width: 50%;
  margin: 10px auto;
  
}


 
button {
    border-radius: 15px;
    margin: 10px;
    padding: 15px 25px;
    align-items: center;
    box-shadow: rgba(70, 70, 70, .12) 10px 10px 15px,
                 rgba(255, 255, 255, .2) -7px -5px 7px;
    border: 1px solid rgba(0, 0, 0, .075);
    background-image: linear-gradient(to right, #111A6f 0%, #7209B7 51%, #111A6f 100%);   
    background-size: 200%;
    transition: .5s;
    width: 250px;
    line-height: 1.25;
    color: white
  
  }
  button:hover {
    background-position: left;
  }
  input {
    border-radius: 5px;
    padding: 7px 15px;
  }
  input::placeholder {
    margin-left: 10px;
  }
  .box {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    color: #3c3c3c;
    box-shadow: rgba(51, 92, 103, .12) 10px 10px 15px,
                rgba(255, 255, 255, 1) -10px -10px 15px;
    border: 1px solid rgba(0, 0, 0, .175);
    background-image: linear-gradient(135deg, white 40%, #fafafa);  
    transition: .5s;  
}

.box:hover {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #111A6f, #7209B7, #111A6f) border-box;
    
    border: 4px solid transparent;
    color: #3c3c3c;
  }
  
  button:hover {
    background-position: right center;
  }

  .alert {
    color: firebrick;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    color: #3a0ca3;
  }
  a:hover {
    color: #4361ee;
  }
  a:active {
    counter-reset: #ffc01c;
  }

.computerTextHolder {
  display: flex;
  flex-wrap: wrap;
  height: auto; 
}

.computerTextHolder h6 {
  text-align: center;
  
}



.computerText {
  width: 20vw;
  border: 1px solid rgba(0, 0, 0, .175);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  margin: 10px auto;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .075);
  
  
}
.computerText p {
    font-size: 18px;
    margin: 0;
    padding-bottom: 20px;
    text-wrap: wrap;
}
.computerText h4 {
    font-size: 1.25rem;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


.featuresHeader {
    font-size: 1.25em;
    width: 100%;
    margin: 1em;
    text-align: center;
}
.feature {
    width: 30%;
    border: 1px solid #3c3c3c;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, .2) 0px 2px 15px 7px;
    margin: .5em;

}
.feature .featureDescription {
    font-size: 16px;
    padding: 1%;
    margin: 1em;
}
.buyersJourney {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 900px;
    margin: 1em;
   
}


.journeySteps {
    overflow-y: scroll;
    margin: 1em;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
}
.journeySteps::-webkit-scrollbar {
    display: none;
}
.journeySteps .journeyStep {
    width: 75%;
    float: right;
    margin: 10em 2em;
}

.journeySteps .journeyStep p{
    font-size: 1em;
}
.motionItem {
    margin: 1em;
    align-content: center;
}

.testButton  {
    border-radius: 15px;
}
.pricing {
    display: flex;
    justify-content: center;
}
.pricing div {
    margin: 1em
}

.training {
    margin: 2em;
        
}
.training h3 {
    margin: 1em;
}
.training > p {
    font-size: 16px;
}


@media only screen and (max-width: 1000px) {
  #root{
    width: 100%;
  }
  body {
    width: 100%;
  }
  h1 {
    text-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    
   }
   .leftSide{
    width: 100%;
    text-align: center;
   }
   .rightSide {
    width: 100%;
    
    margin-right: auto;
    margin-left: auto
    
   }
   video{
    scale: .65;
    margin-left: -120px
   }
   

    .computerImage {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;

    }
    .computerTextHolder {
        
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        text-align: center;
        
        margin: 10px auto;
        overflow-x: auto;
        justify-content: space-evenly;
        font-size: min(1.25em);
    }

    .computerText {
        width: 75%;
        margin: 10px auto;
        
    }
    .computerText p{
      width: 75%;
      margin: 10px auto;
    }
    
    .box{
      margin: 10px auto auto 0px;
      width: 100%;
      
    }      
    
    .leftSide{
      margin: 10px auto;
      width: 80%;
    }
    
    .stayInformed {
        margin-top: 10px;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        
    }
    .stayInformed h2 {
      width: 45%;
      text-wrap: wrap;
      margin: 10px auto;
    }
    .featuresHeader h2 {
      width: 80%;
      margin: 10px auto;
    }
    .feature {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 10px auto ;
        min-width: 250px;
        justify-content: center;
    }
   
    .feature p {
        font-size: 1em;
    }
    
    .featuresHeader {
        font-size: 1.25em;
        width: 100%;
        margin: 1em;
        text-align: center;
    }
    .buyersJourney{
      width: 100%;
      margin: 10px auto auto 0px;
      padding: 0;
    }
    .journeySteps {
      width: 100%;
      background-color: #ececec;
      margin: 0px;
    }
    .journeyStep {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    
}








