.container {
    text-align: center;
    margin: 20px auto;
}

.box {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    color: #3c3c3c;
    box-shadow: rgba(51, 92, 103, .12) 10px 10px 15px,
                rgba(255, 255, 255, 1) -10px -10px 15px;
    border: 1px solid rgba(0, 0, 0, .175);
    background-image: linear-gradient(135deg, white 40%, #fafafa);  
    transition: .5s;  
}

.box:hover {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #111A6f, #7209B7, #111A6f) border-box;
    
    border: 4px solid transparent;
    color: #3c3c3c;
  }