.hero {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
.leftSide {
    width: 50%;
}
.rightSide {
    width: 50%;
}
.belowTheFold{
    text-align: center;
    margin: 10px auto;
}
.belowTheFold h4 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and(max-width:1000px){
    .hero{
        display: flex;
        flex-direction: column;
    }
    .belowTheFold h4{
        width: 95%;
    }
}